
<main id="main">
  
  <figure>
      <img src="./../../../../assets/images/background.jpg" alt="background-homepages">
  </figure>
  <div class="btn-text"><h2>Unlimited movies, TV shows, and more.</h2>
                         <p>Watch anywhere. Cancel anytime.</p></div>
  <div class="hero">
    <div class="text">
    <h2>Enjoy on your TV.</h2>
    <p>Watch on Smart TVs, Playstation, Xbox, Chromecast<br>
       Apple TV, Blu-ray players, and more.</p>
  </div>
  <div class="img-text">
    <img src="./../../../../assets/images/movie-time-cinema-logo-8B5BE91828-seeklogo.com.png" alt="images-text">
  </div>
  </div>
  <div class="hero-2">
    <div class="img-hero">
      <img src="./../../../../assets/images/image-260nw-324455369.webp">
    </div>
    <div class="text-hero">
      <h2>Download your shows<br> to watch offline.</h2>
      <p>Save your favorites easily<br> and always have something to watch.</p>
    </div>
  </div>

  
</main><!--end main-->