.wraper{
    margin: 0 auto;
    display: flex;
    width: 40%;
    background: grey;
}
 .login-form{
    width: 30%;
    background: rgba(211, 210, 210, 0.801);
    margin: 0 auto 50px;
    border-radius: 5px;
    border: 1px solid gray;
}
h2{
    text-align: center;
}