.card-action a{
    margin: 2px !important;
    border-radius: 5px;
    background: rgb(82, 91, 115);
}
.card-action{
    border-top: 1px solid black;
}
.btn-large{
    padding: 0 28px;
    font-size: 14px;
    color: rgb(30, 29, 29);
    height: 43px;
}
.btn-large:hover{
    background:  rgb(31, 13, 59)!important;
    color: white;
}
.card{
    box-shadow:  2px 4px 6px rgb(84, 47, 47);
}


.card span{
    margin-left: 10px;
    font-weight: 600;
}



