.view-card{
    background-image: url("../../../../assets/images/service-bg.jpg");
    display: flex;
}
.images{
   margin: 100px 50px;
}
.images > img{
    border-radius: 5px;
    box-shadow:  2px 4px 6px rgb(251, 251, 251);
}
.movie-info{
   margin: 150px 10px 20px 60px;
   width: 40%;

}
.movie-info > p{
    font-size: 1.2rem;
}
.movie-info > h1, p{
    color: white;
    margin: 15px;
}
i{
    margin-right: 15px;
    color: yellow;
}
.video-triler{
    display: inline-block;
    border-radius: 5px;
    margin-top: 60px;
    padding: 15px 100px 15px 55px;
    box-shadow:  2px 4px 6px rgb(251, 251, 251);
}
.video-triler > h5 {
    margin: 5px;
    color: white;
}
.video-triler > p{
    color: white;
    margin: 5px;
}
.video-triler > p{
    margin-bottom: 20px;
}
.video-triler > a{
    color: yellow;
    margin-left: 5px;
}



