<div class="view-card"> 

    <div class="images">
        <img src="{{apiUrl}}/{{movie.image_url}}" alt="opisSlike">
    </div>

    <div class="movie-info">
        <h1>
            {{movie.title}}
        </h1>
       <p>
            {{movie.description}}
        </p>
          <p>
            <i class="material-icons">event_note</i> {{movie.year}}
        </p>
              <p>
                <i class="material-icons">history</i> {{movie.runtime}} min
            </p>
   
    <div class="video-triler">
        <h5>Prime video</h5>
        <p> Streaming Channels</p>
        <a href="https://www.imdb.com/video/vi642564889/?ref_=ext_shr_lnk" target="_blank">Triler video</a>
       </div>
 </div>
    
</div>
    

        
