
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo"><img src="'./../../../../../assets/images/logo2.png" alt="logo"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
         <ul class="right hide-on-med-and-down">
            <li *ngIf="isAuthenticated"><a routerLink='/movies'>MOVIE</a></li>
              <li *ngIf="isAuthenticated"><a routerLink='/directors'>DIRECTORS</a></li>
               <li *ngIf="isAuthenticated"><a routerLink='/stars'>STARS</a></li>
                <li *ngIf="isAuthenticated"><a routerLink='/add-movie'><i class="material-icons">add</i>Add</a></li>
                 <li class="admin-link1" *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
                  <li class="admin-link1" *ngIf="!isAuthenticated"><a routerLink="/register">Register</a></li>
                  <li class="admin-link1" *ngIf="isAuthenticated"><a (click)="logout()">Log out</a></li>
        </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li *ngIf="isAuthenticated"><a routerLink='/movies'>MOVIE</a></li>
  <li *ngIf="isAuthenticated"><a routerLink='/directors'>DIRECTORS</a></li>
   <li *ngIf="isAuthenticated"><a routerLink='/stars'>STARS</a></li>
     <li class="admin-link1" *ngIf="!isAuthenticated"><a routerLink="/login">Login</a></li>
      <li class="admin-link1" *ngIf="!isAuthenticated"><a routerLink="/register">Register</a></li>
      <li class="admin-link1" *ngIf="isAuthenticated"><a (click)="logout()">Log out</a></li>
</ul>

