<header id="header">
    <div class="wrapper">
        <div class="img-logo">
         <img src="'./../../../../../assets/images/logo2.png" alt="logo">
           </div>
        <nav class="nav">
          <ul>
            <li><a routerLink='/home'>HOME</a></li>
            <li><a routerLink='/movies'>MOVIE</a></li>
            <li><a routerLink='/directors'>DIrectors</a></li>
            <li><a routerLink='/stars'>STARS</a></li>
            <li class="admin-link"><a routerLink="">Sign in</a></li>
            <li class="admin-link1"><a routerLink="">Register</a></li>
            <button class="btn btn-success pull-right" ><a routerLink="/Service/Sign_in"> Sign in</a></button>
          </ul>
        </nav>
    </div>
</header>
