@import './../../../../assets/styles/colors';

nav {
    height: 75px;
    background: rgba(0, 0, 0, 0.971) !important;
    border-bottom: 5px solid white;
}
nav i {
    font-size: 40px;
}
nav img {
    height: 75px;
}
nav ul a{
    font-size: 1.3rem;
    height: 75px;
    font-weight: 600;
    color: aliceblue;
}
nav button {
    margin-bottom: 20px;
}
nav .admin-link a{
   margin-left: 30px;
    font-weight: 400;
    color: red;
}
nav .admin-link1 a{
    font-weight: 400;
    color: red;
}
nav ul a i {
    font-size: 20px;
}
 .sidenav {
    height: 50%;
    opacity: 0.9;
}
.sidenav .admin-link a {
    color: red !important;
}
.sidenav .admin-link1 a {
    color: red !important;
}