<div id="movies">
<h1>List of movies
<ul class="right hide-on-med-and-down">
  <div class="search-hero" >
    <input type="text" name="search" [(ngModel)]="searchText" placeholder="search movie">
  </div>
   </ul></h1>
<div class="row">
    <app-movie-list-item *ngFor="let m of movies|filter:searchText" [movie]="m"></app-movie-list-item>
</div>
  </div>

<ul class="pagination">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
</ul>


  