h1{
    margin: 50px;
    color: aliceblue;
   
}
h1 ul li{
   display: inline;
   margin: 0 15px;
   border: 2px solid white;
   border-radius: 40px;
   padding: 15px 20px;
}
h1 ul li a{
   color: white;
}
 #movies{
    padding-top: 23px;
 }   
#movies{
    
   background-image: url("../../../../assets/images/top-rated-bg.jpg");
   margin-bottom: 0;
   padding-bottom: 0;
  
}
.search-hero{
   width: 80%;
}
.ng-valid{
   color: aliceblue;
}

